/*
============== background Color====================
*/
.btn-text, .featugreen-item.feature-bg-box:hover, .b-line, .link-zoom a.project_links, .blog-date, .bg-color, .header .navigation ul ul li:hover > a, .faq .collape-plus, .line-h:after, .hi-icon-effect-3 .hi-icon:after, a.btn.xplus-btn.pricing.active:hover, a.btn.xplus-btn.pricing.active, .arrow_theme .owl-prev:hover, .arrow_theme .owl-next:hover, .mainmenu-area .link_btn .thm-btn, .bg-color, .post-meta .post-more-link a.btn-Blue, .blog-post blockquote, .pagination-nav ul li.active a, .pagination-nav ul li:hover a, .sidebar-widget .widget-tag li a:hover, .item-nav .item-prev:hover .prev-btn, .item-nav .item-next:hover .next-btn, .quote:after, .mainmenu-area:after, .header.sticky .navigation ul ul li:hover > a, .header .navigation ul ul li:hover > a, .navigation ul ul li > a:hover, .page-signin .body-inner:before, .ui-input-group .input-bar:before, .ui-input-group .input-bar:after, .newsletter .newsletter-btn, .arrow_theme .owl-prev:hover, .arrow_theme .owl-next:hover, #project-section .owl-prev:hover, #project-section .owl-next:hover, .box-hover:hover .team-block, .course__details_block .student-feedback .rating-column .rate-percentage .colored-layer, .plan-content-box h3::after, #team .team-pagination .owl-controls .owl-nav .owl-prev, #team .team-pagination .owl-controls .owl-nav .owl-next, .tparrows.default, .sk-circle .sk-child:before, .feature-icon-wrap:after, #project-section .about-block:hover, .counter-section__img:before, .single_carousel > p,
.testimonial_carosule-wrap .owl-nav div:hover, .section_blck_bg, .box_content__block i.fa, .tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover, .footer .icons-hover-black i, .link-zoom a, .cd-slider-nav a:hover, .cd-slider-nav li.selected a,
.cd-slider-nav li.selected a:hover, .cd-slider-nav li .slide-number, #related-project .owl-nav .owl-prev, #related-project .owl-nav .owl-next,
.header-2 .navigation > ul > li:hover, nav.navbar.bootsnav ul.nav > li > a.custom-btn,
#project-section .about-block .donate-price, .event-section .small-box-event .event__date-time, .top-part__block:before, .top-part__block:after {
  background: #F2184F;
}

.bg-pic-2:before, .counter-section__box .counter:after, .single_carousel > p::after {
  background: #cc0b3c;
}

/*
============== Text Color====================
*/
.text-color,
.container-filter li a.active,
.container-filter li a:hover,
.hi-icon-effect-3b .hi-icon,
.service_details h5 a,
.post-meta span > a > i,
.header-contact-info ul li .iocn-holder span,
.main-menu .navigation > li:hover > a,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li > ul > li:hover > a,
.nav_side_content .search_option form button,
.name-text,
.post-meta .post-more-link a.btn-Blue:hover,
.pagination-nav ul li a,
.sidebar-widget ul li a:hover,
.lead-point li,
.blog-post .fa-tag,
.post-meta span > a > i,
.item-nav .item-prev .prev-btn,
.item-nav .item-next .next-btn,
.contact .icon-circle,
.contact-info .info li .icon,
.btn-text:hover,
.featugreen-item.feature-bg-box .icon i,
.pricing-2 .price, .pricing-2 .currency-symbol,
.top-bar-area p i,
.single-sidebar-widget .special-links li:hover a,
.single-sidebar-widget .special-links li a.active,
.custom-check:before,
.color-primary, a.color-primary,
.ui-input-group > input:focus ~ label,
.ui-input-group > textarea:focus ~
label, .big-font i, .color, .inner-intro .page-breadcrumb span, .content-box .donate-price b, .course_features_point li i, .course__details_block .student-feedback .rating-title .inner .rating .fa, .course__details_block .student-comment .comment-inner .student-info .info-inner .rating .fa, .event__date, .event__month, .header-2 i, .header-2 .top-bar-section.top-bar-bg-color a:hover, .call-us ul li a:hover,
.cd-hero-slider h2 span, .testimonial_carosule-wrap .owl-nav div, #project-section .owl-prev, #project-section .owl-next, h2, .top-info__block li i, .cd-slider-nav li.selected .slide-number, .cd-slider-nav li:hover .slide-number,
.main-banner .banner-text h2 span, .icon_choose i,
#project-section .about-block:hover .donate-price, .more_btn__block, .cs-skin-slide .cs-options li span:hover {
  color: #F2184F;
}

.widget-tag li a {
  color: #F2184F !important;
}

.quote:before,
.color-primary, a.color-primary:hover {
  color: #cc0b3c;
}

/*
============== Border Color====================
*/
.btn-text, .pricing-2 .pricing_table.active, .pricing-2 .price, .pricing-2 .currency-symbol, a.btn.xplus-btn.pricing.active:hover, a.btn.xplus-btn.pricing.active, .arrow_theme .owl-prev:hover, .arrow_theme .owl-next:hover, .header-contact-info ul li .iocn-holder, .nav_side_content .search_option form, .post-meta .post-more-link a.btn-Blue:hover, .pagination-nav ul li a, .widget-tag li a, .blog-post-hr input[type="text"]:focus, .blog-post-hr textarea:focus, .item-nav .item-prev .prev-btn, .item-nav .item-next .next-btn, .contact .icon-circle, .single-sidebar-widget .special-links li a:before, .widget-search input[type="text"]:focus, .contact-form input[type="text"]:focus, .contact-form textarea:focus, .custom-check, .client-avtar, .arrow_theme .owl-prev:hover, .arrow_theme .owl-next:hover, #project-section .owl-prev:hover, #project-section .owl-next:hover, #team .team-pagination .owl-controls .owl-nav .owl-prev, #team .team-pagination .owl-controls .owl-nav .owl-next, .feature-icon-wrap:after, .testimonial_carosule-wrap .owl-nav div, #project-section .owl-prev, #project-section .owl-next, .tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover, .main_nav ul li > ul, #related-project .owl-nav .owl-prev, #related-project .owl-nav .owl-next {
  border-color: #F2184F;
}

.team-member .inner-box .overlay-box:after, .post_wrap {
  border-bottom-color: #F2184F;
}

.hi-icon-effect-3 .hi-icon {
  box-shadow: 0 0 0 2px #F2184F;
}
