﻿.ptb {
    padding-top: 80px;
    padding-bottom: 80px;
}
h2{
	    color:#f2184f;
	        font-weight: 800;
}
h2 span {
    color:#292929;
}

/*-------------------------------------------------------------------------------------------*/
/* HEADER         ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/

/* Header Style i*/
.wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
#header, .header {
	background: #fff;
}
.logo a {
	display: inline-block;
	padding: 15px 0;
}
.menu {
	border: none;
	border-bottom: 4px solid #f2184f;
	border-top: 4px solid #f2184f;
	height: 29px;
	position: absolute;
	right: 29px;
	top: 40px;
	width: 44px;
	background: none;
}
.menu:after {
	position: absolute;
	top: 9px;
	right: 0;
	content: '';
	width: 100%;
	height: 4px;
	background:#f2184f;
}
.header ul {
	float: right;
	list-style: none;
	padding: 0;
	margin: 0;
}
.header ul li {
	float: left;
	position: relative;
}
.header ul li ul.sub-nav li ul.sub-nav {
	top: 0% !important;
}
.navigation ul li a {
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
.navigation > ul > li > a {
	display: block;
	padding: 38px 16px;
	color: #323232;
	transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	-moz-transition: all 0.25s ease 0s;
	-o-transition: all 0.25s ease 0s;
	outline: none;
}
.navigation > ul > li:last-child a {
	padding-right: 0;
}
.navigation .sub-nav {
	left: 0;
	border-top: 20px solid transparent;
	position: absolute;
	top: 175%;
	width: 200px;
	z-index: 3;
	background-clip: padding-box;
	padding: 0;
	transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-webkit-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-moz-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-ms-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	-o-transition: top 0.3s ease 0s, visibility 0.2s ease 0.2s, opacity 0.2s ease 0.1s;
	opacity: 0;
	visibility: hidden;
	background-color:#292929;
}
.navigation .sub-nav li {
	display: block;
	float: none;
	margin: 0;
	border-bottom: 1px solid rgba(255, 238, 238, 0.35);
	padding-bottom: 0;
	position: relative;
}
.navigation li:hover .sub-nav {
	opacity: 1;
	top: 80%;
	transition: top 0.3s ease 0s;
	visibility: visible;
}
.navigation li.sub-menu .sub-nav {
	border: none;
	opacity: 0;
	top: 0;
	transition: top 0.3s ease 0s;
	visibility: visible;
	left: auto;
	right: 110%;
	visibility: hidden;
	transition: all 0.3s ease 0s;
}

.navigation li.sub-menu:hover .sub-nav {
	visibility: visible;
	opacity: 1;
	right: 100%;
	transition: all 0.3s ease 0s;
}
.navigation .sub-nav li:last-child {
	border-bottom: 0;
}
.navigation .sub-nav li a {
	padding: 8px 20px;
	display: block;
	color: #fff;
}
.appointment-button {
	text-transform: uppercase;
}
.appointment-button:hover {
	color: #222;
}
/*Top bar*/

.top-contact {
	float: left;
	text-align: center;
}
.top-social-icon {
	float: right;
}
.top-social-icon {
	text-align: center;
}
.top-bar-section.top-bar-bg-color a {
	color: #fff;
}
.top-contact a i {
	padding-left: 5px;
	padding-right: 5px;
}
.top-social-icon {
	float: right;
}
.top-social-icon {
	text-align: center;
}
.top-social-icon ul {
	margin: 0;
	padding: 0;
}
.top-social-icon li {
	margin-left: 10px;
}
.top-bar-section a {
	text-transform: inherit;
	font-weight: 400;
	padding: 5px 0;
	letter-spacing: 1px;
	display: inline-block;
	font-size: 12px;
	letter-spacing: 0.5px;
}
.top-bar-section a i {
	font-size: 16px;
}
.top-social-icon a.btn {
	padding: 9px 20px;
}
.top-social-icon a.btn:hover {
	color: #2fadb9;
}
.link-hover-black > a:last-child {
	margin-left: 10px;
}
/*Header style 2*/
.header-2 .primary-header {
	background:#292929;
}
.header-2 .navigation > ul {
	float: left;
}

.header-2 .navigation > ul > li:hover {
	background:#F2184F;
}
.header-2 .navigation > ul > li > a {
	color: #fff;
	padding: 18px 28px;
}
.header-2 .navigation li:hover .sub-nav {
	top: 67%;
}
.call-us ul {
	list-style-type: none;
	line-height: 1.3;
	padding-top: 35px;
}
.call-us ul li {
	display: inline-block;
	font-weight: bold;
	padding: 0 1px;
	vertical-align: top;
	position: relative;
}
.call-us ul li:first-child:after {
	content: "";
	background: #d5dce4;
	display: block;
	position: absolute;
	right: -15px;
	top: -18px;
	width: 1px;
	height: 67px;
}
.call-us ul li:last-child {
	padding: 0 0 0 25px !important;
}
.call-box {
	float: right;
	font-weight: bold;
	font-size: 13px;
	color: #545454;
}
.call-box > span {
	display: block;
}
.call-us i {
	font-size: 46px;
	float: left;
	margin-right: 12px;
	vertical-align: top;
	margin-top: -13px;
}
.call-us ul li a {
	font-size: 30px;
	color: #545454;
	line-height: 1;
	transition: 1s all ease;
	-webkit-transition: 1s all ease;
}
.call-us {
	float: right;
}
.header-2 .top-bar-section {
	background:#292929;
	border-bottom: 1px solid #292929;
	padding-top: 4px;
	padding-bottom: 4px;
	color: #fff;
}
.header-2 .top-bar-section.top-bar-bg-color a, .header-2 .top-social-icon li {
	color: #fff;
}
.header-2 .addr {
	color: #fff;
	display: block;
	padding-top: 5px;
}
.header-2 i {
	color: #2fadb9;
}

.header-2 .top-bar-section.top-bar-bg-color a:hover, .call-us ul li a:hover {
	color: #2fadb9;
}
.col-right {
	text-align: right;
}
.col-right .opening {
	float: right;
	text-align: left;
	padding: 25px 0 0 33px
}
.header .col-right ul, .header .col-right ul li {
	float: none;
	position: relative;
	color: #2c3740 !important;
	font-weight: bold;
}
.header .col-right ul li span, .header .col-right ul li * {
	color: #2c3740 !important;
}
.col-right .call-us {
	display: inline-block;
	text-align: right;
	float: none;
}
.col-right .opening ul:after {
	content: "";
	background: #d5dce4;
	display: block;
	position: absolute;
	left: -15px;
	top: -9px;
	width: 1px;
	height: 67px;
}
.header-style {
	box-shadow: 0 0px 1px 1px rgba(0,0,0,0.1);
}
.header-style, .header-1 .nav-wrap {
	box-shadow: 0 0px 1px 1px rgba(0,0,0,0.1);
}
@media only screen and (min-width: 767px) {
	#header.fix .nav-wrap, #header.fix .primary-header, .header-style.fix-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999999;
	}
	#header.fix .nav-wrap, .header-style.fix-header {
		background: #fff;
	}
	.p-top {
		padding-top: 157px;
	}

}
.boxed #header.fix .nav-wrap, .boxed #header.fix .primary-header, .boxed .header-style.fix-header {
	max-width: 1170px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.header-2 .navigation > ul > li > a {
		padding: 17px 23px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.navigation {
		margin-left: 0;
	}
	.navigation > ul > li > a {
		padding: 38px 13px;
	}
	.navigation .sub-nav {
		left: -27px;
	}

	.newsletter .newsletter-input {
		padding: 12px 15px;
	}
	.header-2 .navigation > ul > li > a {
		padding-left: 14px;
		padding-right: 14px;
	}
	.col-right .opening {
		padding-left: 26px;
	}
	.col-right .call-box {
		font-size: 10px;
	}
	.col-right .call-us i {
		font-size: 37px;
		margin-right: 8px;
		margin-top: -13px;
	}
	.col-right .opening li {
		font-size: 12px;
	}
	.col-right .call-us ul li a {
		font-size: 20px;
	}
	.appointment-button {
		padding-left: 11px;
		padding-right: 11px;
		font-size: 10px;
	}

}

/* ======Mobile media Query =========*/
@media (max-width: 767px) {
	.container, .treatment, .appointment-block {
		margin: 0 auto;
		max-width: 480px;
		width: 100%;
	}
	.header ul, .header ul li {
		float: none !important;
	}

	.top-social-icon {
		text-align: center;
	}
	.top-social-icon ul li {
		display: inline-block;
		margin: 0 4px !important;
	}
	.top-social-icon ul li:last-child, .top-social-icon ul li:last-child a {
		width: 100%;
		margin: 0;
	}
	.story-content, .video-frame {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		float: none !important;
	}
	.logo a {
		padding: 29px 0px !important;
	}

	.navigation {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 9;
		background:#292929;
	}

	.navigation ul li {
		border-bottom: 1px solid #fff
	}
	.navigation > ul > li > a, .header-2 .navigation > ul > li > a, .navigation > ul > li:last-child a {
		padding: 10px 15px;
		color: #fff;
	}
	.header-2 .primary-header {
		border-bottom: 1px solid #fff;
	}
	.navigation .sub-nav, .navigation li.sub-menu .sub-nav, .navigation li.sub-menu:hover .sub-nav {
		position: static;
		opacity: 1;
		visibility: visible;
		width: 100%;
		border-top: none;
		transition: inherit;
		-webkit-transition: inherit;
		padding: 0;
	}
	.navigation ul li i {
		color: #fff;
		font-size: 25px;
		position: absolute;
		right: 15px;
		top: 9px;
		cursor: pointer;
		pointer-events: none;
	}
	.navigation ul li ul {
		display: none;
	}
	.navigation .on > .ion-ios-plus-empty:before {
		content: '\f462';
		font-family: "Ionicons";
	}

	.call-us ul li a {
		font-size: 24px;
	}
	.col-right .opening ul::after, .col-right {
		display: none;
	}
	.book-app {
		background: #2fadb9;
		position: absolute !important;
		top: 87px;
		left: 0 !important;
		width: 100%;
		z-index: 99;
		border-bottom: 1px solid #fff;
	}

	.book-app .appointment-button {
		width: 100%
	}
	.header-style .logo {
		padding-bottom: 56px;
	}
	.header-style .navigation {
		top: 163px;
	}
	.header-2 .navigation > ul, .top-social-icon {
		float: none !important;;
	}
	.header-2 .top-social-icon ul li:last-child, .header-2 .top-social-icon ul li:last-child a {
		width: auto;
	}
	.header-2 .top-social-icon {
		padding-bottom: 0;
	}
	.header-2 .appointment-button {
		display: block;
		margin: 10px auto;
		width: 200px;
	}
	.header-2 .navigation {
		top: 61px;
	}
	.header-2.header-style .navigation {
		top: 148px;
	}
}
.btn-white-line, .btn-color-line {
	color: #2fadb9;
	border-color: #fff;
	padding: 9px 34px;
	background: #fff;
}
.btn-white-line:hover {
	background: transparent;
	color: #fff;
}

@media (min-width: 768px) {
	.hidden-md-up{
		display: none;
	}
}
@media (max-width: 767px){
.hidden-sm-down {
    display: none!important;
}
}
@media (max-width: 991px) {
.header .logo a, .header.sticky .logo a {
    width:auto;
}
}
/*==============================================================================================*/
/* FOOTER         ||---------------------------- */
/*==============================================================================================*/

.footer {
	background-color:#292929;
	background-size: cover;
	color: #fff;
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
}
.footer h4 {
	text-transform: uppercase;
	color: #fff;
}
.footer hr {
	border-color: #eee;
}
.footer .footer-info p {
	color: #fff;
	margin-bottom: 0px;
}
.footer-info .col-xs-12 {
	min-height: 200px;
}
.footer-logo {
	max-width: 125px;
	display: inline-block;
	width: 100%;
}
.footer .social, .contact .social {
	font-size: 17px;
}
.footer ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.footer ul.social li, .contact ul.social li {
	display: inline-block;
	margin: 0 7px 0 0;
}
.footer .link a {
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}

.footer h5 {
	color: #f0eded;
	margin-bottom: 30px;
}
.footer .link-small a {
	text-transform: none;
	color: #fff;
}
.footer address {
	color: #fff;
	position: relative;
	padding-left: 30px;
}
.footer .blog-link li {
	margin-right: 5px;
	margin-bottom: 15px;
}
.footer .link-small a {
	position: relative;
	padding-left: 29px
}
.footer .link-small li {
	margin-bottom: 20px;
}
.footer .icons-hover-black i {
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-bottom: 15px;
	display: inline-block;
	margin-right: 1px;
	color: #fff;
}
.footer .blog-link img {
	width: 60px;
	height: 40px;
}
.footer .copyright {
	text-align: center;
	padding: 18px 0 10px;
	background:#464646;
	position: relative;
}
.footer .copyright p {
	color: #fff;
	margin-bottom: 0;
}

.footer .post-content {
	font-size: 12px;
	color: #fff;
}
.footer .fa-icons {
	font-size: 22px;
	position: absolute;
	top: 0;
	left: 0;
}
.entry-thumbnail {
	float: left;
	margin: 0 15px 0 0;
	max-width: 60px;
	padding-right: 0;
}
.entry-thumbnail {
	float: left;
	margin: 0 15px 0 0;
	max-width: 60px;
	padding-right: 0;
}
.blog-link .fa {
	font-size: 15px;
	margin-right: 8px;
}
/* light footer css */
.light-footer {
	background-color: #EFEFEF;
	border-top: 1px solid #D6D4D4;
	color: #000;
}
.light-footer.footer h5, .light-footer.footer .footer-info p, .light-footer.footer .copyright, .light-footer .copyright a {
	color: #000;
}
.light-footer.footer .copyright {
	border-top: 1px solid #E0DFDF;
	background: #FBFBFB;
}
.light-footer .newsletter .newsletter-input, .light-footer .newsletter .newsletter-input:focus {
	background: #eee;
	color: #000;
}
.newsletter {
	position: relative;
}
.newsletter form {
	position: relative;
	margin-top: 20px;
}
.newsletter .newsletter-input, .newsletter .newsletter-input:focus {
	width: 100%;
	border-top: 0px none;
	border-left: 0px none;
	border-right: 0px none;
	padding-right: 40px;
	background: none;
	border-radius: 0;
	border: 1px solid #B1AFAF;
	color: #7f7f7f;
}
.newsletter .newsletter-btn {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 18px;
	background: #7f7f7f;
	line-height: 49px;
	border-radius: 0;
	width: 49px;
}
.footer .icons-hover-black {
	padding-top: 10px;
}
/*Footer Style 2*/
.footer-style-2:before {
	content: '';
	width: 517px;
	height: 166%;
	position: absolute;
	top: 0;
	left: 0;
	background: #2fadb9;
	transform: rotate(23deg);
	transform-origin: 100% 0;
}
.footer-style-2 .icons-hover-black i {
	background: #02695e;
}
.footer-style-2 .footer-info p {
	color: #fff;
	margin-bottom: 15px;
}
.instagram ul {
	margin: 0;
	padding: 0;
}
.instagram li {
	margin: 0 0 4px;
	padding: 0;
	list-style: none;
	display: inline-block;
}
.footer-style-2 .blog-link li {
	margin-right: 0;
	margin-bottom: 15px;
	width: 50%;
	float: left;
}
/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.cd-hero-slider li:first-of-type {
  background-color: #ccc;
  background-image: url("../images/slider/slide.jpg");
}
.cd-hero-slider li:nth-of-type(2) {
  background-color: #ccc;
  background-image: url("../images/slider/slide1.jpg");
}
.cd-hero-slider li:nth-of-type(3) {
  background-color: #ccc;
  background-image: url("../images/slider/slide2.jpg");
}
.cd-hero-slider li:nth-of-type(4) {
  background-color: #ccc;
  background-image: url("../images/slider/slide4.jpg");
}
/*project_sec*/
.project-item {
    border: 1px solid #f2f2f2;
}
.project-item .text-box {
    padding: 0 20px 20px;
}

/*registration Section*/
.registration_section .appointment {
	margin-right: 0;
	position: static;
}
.appointment {
    background-color:rgba(0, 0, 0, 0.71);
    padding: 30px 15px;
    position: absolute;
    right: 15px;
    bottom: 0;
}
.appointment {
    width: 380px;
}
.appointment .form-field-wrapper .bg_button_sty{
	    border: 1px solid #fff;
}
.appointment .form-field-wrapper .bg_button_sty:hover{
	color: #fff;
}
.registrantion_counter ul.countdown {
	overflow: hidden;
}
.registrantion_counter ul.countdown li {
	border-radius: 50%;
}
.registrantion_counter ul.countdown li span {
	line-height: 71px;
}
.z-index {
	z-index: 9;
}
.registration_section .heading-box {
	padding-right: 80px;
}
.registration_section .heading-box h2{
	color: #fff;
}

.registration_section .appointment .form-field-wrapper{
	margin-bottom: 3px;
}	
.registration_section .heading-box {
    padding-right: 80px;
}
.image_cover_right {
    width: 45.666667%;
    height: 100%;
    right: 0;
    top: 0;
    left: auto;
}
@media (max-width: 991px) {
	.registration_section .image_cover_right {
		display: none;
	}
	.registrantion_counter ul.countdown li {
		float: none;
		display: inline-block;
		width: 123px;
		margin: 10px !important;
	}
	.registration_section .appointment {
		width: 100%;
	}
.registration_section .appointment .form-field-wrapper{
	margin-bottom:10px;
}	
}
.section_blck_bg {
    background: #0c1f38;
}
/* counter clock css */
ul.countdown {
	list-style: none;
	padding: 0;
	display: block;
	text-align: left;
	
	
	
}
ul.countdown li {
	float:left;
    color: #fff;
    width: 123px;
    border: 1px solid;
    margin: 0 10px;
    padding: 13px 0;
    text-align: center;
}
@media (max-width:1180px){
	ul.countdown li {
		width: 120px;
		margin: 0  !important;
	}		
}
ul.countdown li span {
	font-size: 45px;
	font-weight: 500;
	line-height: 80px;
	font-family: 'Raleway', sans-serif;
}
ul.countdown li p{
	margin-bottom:0;
}
ul.countdown li.seperator {
	font-size: 80px;
	line-height: 70px;
	vertical-align: top;
}
@media (min-width: 768px) and (max-width: 991px) {
	.banner__block__text h1{
		font-size:40px;
	}
	.banner__block__text strong{
		font-size:18px;
		padding-bottom:0px;
	}
	ul.countdown li{
	padding: 8px 0
	}
	ul.countdown li:nth-child(3){
		clear: left;
	}
}
/*=======Counter Section Block======*/
.counter-section__img {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/bg_1.jpg);
	padding: 150px 0;
	background-attachment: fixed;
}
.counter-section__img:before {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	opacity: 0.8;
	    background: #ff974f;
}
.counter-section__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.counter-section__box .counter {
	color: #fff;
	font-size: 72px;
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	line-height: 1.2;
	font-weight: 600;
	padding-right: 16px;
	position: relative;
}
.counter-section__box .counter:after {
	content: '';
	width: 2px;
	height: 64px;
	background: #2fadb9;
	position: absolute;
	top: 17px;
	right: 0;
}
.counter-section__box p {
	color: #fff;
	font-size: 18px;
	padding-top: 25px;
	padding-left: 15px;
	-webkit-box-flex: 2;
	-moz-flex: 2;
	-webkit-flex: 2;
	flex: 2;
	text-transform: uppercase;
	text-align: left;
}

.container-filter li a:before, .container-filter li a:after{
	display: none;
}

/*testimonial section style*/
.testimonial_wrapper__block {
	color: #fff;
	background: #fafafa;
}

.testimonial_wrapper__block::before {
	background: #f5f5f5 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.76;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.single_carousel {
	margin: 0px 15px;
}
.single_carousel > p {
	background: #2fadb9 none repeat scroll 0 0;
	padding: 25px 35px;
	position: relative;
}

.single_carousel > p::after {
	background: #00717b none repeat scroll 0 0;
	border-radius: 50%;
	bottom: -23px;
	color: #ffffff;
	content: "\f10d";
	font-family: fontawesome;
	font-size: 18px;
	height: 50px;
	left: 20px;
	line-height: 49px;
	position: absolute;
	text-align: center;
	width: 50px;
}

.author_img__block {
	display: table;
	height: 130px;
	color: #222;
}
.author_tablecell__block {
	display: table-cell;
	vertical-align: middle;
}
.author_tablecell__block > img {
	border: 5px solid #ffffff;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	max-width: 80px;
}
.author_tablecell__block > p {
	display: inline-block;
	font-weight: 700;
	margin-left: 15px;
	margin-top: 15px;
}
.author_tablecell__block span {
	display: block;
	font-weight: normal;
}

.testimonial_carosule-wrap .owl-nav div {
	border: 1px solid #2fadb9;
	color: #2fadb9;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	margin-left: 10px;
	text-align: center;
	transition: all 0.4s ease 0s;
	width: 40px;
	line-height: 40px;
	position: static;
	background: transparent;
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
.testimonial_carosule-wrap .owl-nav {
	margin-top: 15px;
	text-align: center;
}
.testimonial_carosule-wrap .owl-nav div:hover {
	background: #2fadb9;
	color: #fff;
}
.member_say {
	font-size: 14px;
}
/*blog_sec*/
#blog-section {
    position: relative;
    overflow: hidden;
}
/*Avaiablity Section*/
.available_wrap__block {
    background-image: url(../images/world-map.png);
    height: 500px;
    display: table;
    background-position: center center;
    background-size:auto;
    width: 100%;
    background-repeat: no-repeat;
  background-color: #2fadb9;
}

.available_content__block {
	display: table-cell;
	vertical-align: middle;
	color: #fff;
}
.available_content__block h2 {
	font-size: 35px;
	color: #fff;
	font-weight: 500;
}
@media (max-width: 991px) {
	.available_wrap__block {
		height: auto;
		padding: 40px 0;
	}
	.quote__block input[type="submit"] {
		float: left;
	}
}

/*our_service*/
.about-block {
	-webkit-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	overflow: hidden;
}
#project-section .about-block:hover .box-title h3 a, #project-section .about-block:hover p, #project-section .about-block:hover .donate-price{
	color: #fff;
}

.about-block .box-title h3{
	font-size:18px;
}
.half-width {
	overflow: hidden;
}
@media (max-width: 767px) {
	.half-width {
		width: 100%;
	}
	.img-responsive {
		width: 100%;
	}
}
.fl {
	float: left;
}
.about-block p {
	line-height: 1.5;
	margin-bottom: 0;
}
.donate-price{
	    background: #f2184f;
    padding: 5px 17px;
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
}
#project-section .about-block:hover .donate-price{
	background:#fff;
	color:#f2184f;
} 
@media (min-width: 992px) and (max-width: 1199px) {
	#project-section .about-block .padding-20{
		    padding: 8px 20px;
	}
}