﻿h2 {
	color: #6cbe03;
}
h2 span {
	color: #222222;
}

/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.b-line {
	position: relative;
	width: 60px;
	height: 3px;
	background: #6cbe03;
	display: block;
	margin: 0 auto;
}
/*about*/
.l-left {
	margin: 0;
}

.bott-center {
	margin: 0 auto;
}
.main-banner {
	height: auto;
}
.main-banner .banner-text .sub-text {
	font-weight: 600;
	color: #ffffff;
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
}
.main-banner .banner-text h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 800;
	margin-bottom: 10px;
	line-height: 1.3;
	text-transform: capitalize;
	padding: 10px 0;
}
.main-banner .banner-text h2 span {
	color: #ff0033;
}
.main-banner .banner-text p {
	font-family: 'Lato', serif;
	color: #ffffff;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1.8;
}

.main-banner .more-btn {
	background: #ff0033;
	line-height: 30px;
	padding-left: 38px;
	padding-right: 38px;
	font-weight: 700;
	color: #fff;
}
.main-banner li .btn-text {
	line-height: 60px;
	padding-left: 38px;
	padding-right: 38px;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 100px;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
#wrapper .main-banner .tp-bullets {
	top: auto;
	left: 52%;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 66px;
}
.main-banner .tp-bullet {
	width: 26px;
	height: 3px;
	background: #8f8f8f;
}
.main-banner .tp-bullet.selected {
	background: #6cbe03;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #999999;
	z-index: 99;
	cursor: pointer;
	background: #999999;
	visibility: hidden;
	border-radius: 50%;
}
.main-banner:hover .tparrows.tp-leftarrow, .main-banner:hover .tparrows.tp-rightarrow {
	visibility: visible;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover {
	background: #6cbe03;
	border: 1px solid #6cbe03;
}
.slotholder:before {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.36);
	content: '';
}
@media (max-width: 480px) {
	.main-banner .banner-text h2 {
		font-size: 18px;
	}
	.main-banner .banner-text p {
		line-height: 1.2;
		font-size: 15px;
	}
}

.main-banner li .btn-text {
	line-height: 44px !important;
}
@media (max-width: 767px) {
	.main-banner li .btn-text {
		margin-bottom: 10px;
	}
}
.btn-text {
	min-width: 150px;
	margin: 0 5px;
	font-size: 14px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	line-height: 41px;
	border: 2px solid #6aaf08;
	padding: 0 22px;
	border-radius: 0px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #6aaf08;
	height: 44px;
	text-align: center;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.green-bg {
	border: 2px solid #6cbe03;
	background: #6cbe03;
}

.btn-text:hover {
	background: none;
	color: #6cbe03;
	text-decoration: none;
}
.green-bg:hover {
	color: #6cbe03;
}

.creative_heading p {
	margin: 0px;
}

/*top_clume*/
@media (max-width: 991px) {
	.navbar-collapse.collapse.mobile__nav {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.analyzed_wrap__block {
		margin-top: 0px;
	}
}
@media (max-width: 767px) {
	.analyzed_wrap__block {
		margin-top: 0px;
	}
}
.analyzed_wrap__block .styl_box {
	background: rgba(0, 0, 0, 0.54) url(../images/project/project-img1.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
	background-blend-mode: overlay;
}
.single_analize__block {
	color: #ffffff;
	padding: 40px 25px;
}
.single_analize__block h2 {
	color: #fff;
	font-size: 24px;
}
.btn_new:hover {
	background: #fff;
	border-color: #fff;
}
.analyzed_wrap__block .dubble_bg {
	background: rgba(0, 0, 0, 0.54) url(../images/project/project-img3.jpg);
	background-size: cover;
	background-blend-mode: overlay;
}
.analyzed_wrap__block .icon__block i.fa {
	display: inline-block;
	font-size: 60px;
	margin-bottom: 35px;
	color: #daa106;
}
.promor_wrap__block > p {
	color: #777777;
}
.promor_wrap__block h2 {
	font-size: 30px;
}
.promor_wrap__block h3 {
	font-size: 14px;
	color: #444;
}
p.blue_text__block {
	color: #3f8ffb;
}
.busines_promo_wrapper__block img {
	width: 100%;
}
.box_content__block {
	margin: 15px 0;
	min-height: 65px;
	position: relative;
}
.box_content__block i.fa {
	background: #6cbe03;
	border-radius: 5px;
	font-size: 20px;
	height: 60px;
	left: 0;
	line-height: 60px;
	margin-top: -39px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 60px;
	color: #fff;
}
.box_content__block h2 {
	font-size: 20px;
	margin-left: 73px;
}
.box_content__block h2 span {
	color: #444;
	display: block;
	font-size: 70%;
}

/*about_US*/

#project-section .about-block .box-title h3 a {
	color: #333;
}
/*Service*/

.about-block p {
	line-height: 2;
}

.about-block {
	-webkit-transition: all 0.4s linear 0s;
	-ms-transition: all 0.4s linear 0s;
	transition: all 0.4s linear 0s;
	overflow: hidden;
}
#project-section .about-block:hover .box-title h3 a, #project-section .about-block:hover p, #project-section .about-block:hover .donate-price {
	color: #fff;
}
.hover-bg:hover {
	background: #6cbe03;
}
.fl {
	float: left;
}
.half-width {
	overflow: hidden;
}
.box-title h3 {
	margin-top: 0px !important;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 500;
	line-height: 1.1;
}

.about-block p {
	line-height: 1.5;
}
.donate-price {
	background: #f2184f;
	padding: 5px 17px;
	color: #fff;
	border-radius: 10px;
	margin-top: 10px;
}
#project-section .about-block:hover .donate-price {
	background: #fff;
}

@media (max-width: 1199px) and (min-width: 992px) {
	#project-section .about-block .padding-20 {
		padding: 6px 20px;
	}
}
@media (max-width: 767px) {
	.half-width {
		width: 100%;
	}
	.img-responsive {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.plr-xs-15 {
		padding-right: 15px !important;;
		padding-left: 15px !important;
	}

}

/*-------------------------------------------------------------------------------------------*/
/* Team    ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.team-block {
	color: #ffffff;
	transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	background: #333;
	padding: 30px 0;
}
.box-hover:hover .team-block {
	background: #6cbe03;
}
.box-hover:hover * {
	color: #323232;
}
.box-hover:hover .small-divider {
	border-color: #323232;
}
.team-block strong {
	display: block;
	font-size: 18px;
	font-weight: 800;
	margin-bottom: 5px;
}
.team-block span {
	font-family: raleway;
	font-size: 13px;
	font-style: normal;
	color: #b8bcc6;
}
.team-block .small-divider {
	margin-bottom: 15px;
	margin-top: 15px;
	width: 36px;
	border-color: rgba(255,255,255,0.2);
}
.social-icons {
	padding-left: 0;
}
.team-block .social-icons > li {
	margin: 0 7px;
	display: inline-block;
}
.team-block .social-icons .fa {
	font-size: 16px;
}
.team-block .social-icons .fa {
	color: #fff;
}
.box-hover:hover .fa {
	color: #323232;
}

/*home_Project*/
.width-25per {
	width: 25%;
}
.width-75per, .tab-respons {
	width: 75%;
}
.dark-bg {
	background: #323232;
	color: #fff;
}
@media (max-width: 767px) {
	.width-25per {
		width: 100%;
	}
	.width-75per, .tab-respons {
		width: 100%;
	}
}
/*
 ===========================================================
 22. recent-causes
 ===========================================================
 */
#project-section .block-title h2 span {
	color: #fff;
}
.tab-respons {
	background: #fff;
}
.recent-causes {
	padding: 100px 0px 50px;
}
.style-two {
	padding: 100px 0px 50px;
}
.section-title {
	text-align: center;
}
.recent-causes .recent-causes-carousel {

}
.item {
	position: relative;
}
.item .bg-area {
	position: relative;
	background: #fff;
	margin-bottom: 0px;
	z-index: 99;
}

.item .content-box {
	padding: 25px 30px;
	border: 1px solid #ececec;
	position: relative;
}

.content-box .donate-price {
	font-size: 12px;
	color: #2b2b2b;
	font-family: "Montserrat", sans-serif;
	margin-bottom: 15px;
}

.content-box .donate-price b {
	font-size: 22px;
	color: #e2b43a;
}

.content-box .donate-price span {
	font-size: 12px;
	color: #989797;
	font-weight: 700;
}
.content-box h4 {
	font-weight: 700;
	font-size: 17px;
	text-transform: uppercase;
	color: #222222;
}
.content-box h4 span {
	color: #6aaf08;
}
.content-box p {
	margin: 15px 0px;
	color: #555555;
}

.item .image-box {
	display: block;
	overflow: hidden;
	position: relative;
}
.item .image-box a {
	width: 100%;
}
.item .image-box img {
	transform: scale(1);
	transition: all 0.5s ease 0s;
	width: 100%;
}

.item:hover .image-box img {
	transform: scale(1.1);
}
.item .overlay {
	background-color: rgba(226, 180, 58, 0.51);
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all 450ms ease-out 0s;
	transform: rotateY(180deg) scale(0.5,0.5);
}

.item:hover .image-box .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: rotateY(0deg) scale(1,1);
}
.item .overlay .box {
	display: table;
	height: 100%;
	width: 100%;
}
.item .overlay .box .content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
.item .image-box .overlay .box .content a i {
	background: #e2b43a;
	border-radius: 50%;
	color: #ffffff;
	display: inline-block;
	font-size: 16px;
	height: 45px;
	line-height: 48px;
	transition: all 500ms ease 0s;
	width: 45px;
}

.item .image-box .overlay .box .content a:hover i {
	background: #e2b43a;
}

/*causes-details*/
.project-info .progress-box {
	position: static;
	margin-left: 0px;
}
.project-info .progress-box .progress {
	height: 25px;
}
.project-info .progress-box .progress-bar {
	line-height: 25px;
}
.project-info .donate-price {
	font-weight: bold;
	font-size: 20px;
}
.form-donet {
	text-align: center;
	border: 1px solid #000;
	margin-top: 20px;
}
.form-donet .done-title {
	background: #000;
	padding: 5px;
}
.form-donet .done-title h3 {
	margin: 0px;
}
.form-donet .form-field .form-full {
	margin-bottom: 30px;
}
.form-donet form {
	padding: 30px;
}

#related-project .owl-nav .owl-prev, #related-project .owl-nav .owl-next {
	top: 30%;
	position: absolute;
	border: 2px solid #e2b43a;
	color: #ffffff;
	background: #e2b43a;
	border-radius: 3px;
	font-size: 22px;
	height: 1.8em;
	line-height: 1.6em;
	padding: 0;
	text-align: center;
	width: 1.8em;
	margin-right: 0;
	margin-left: 0;
	opacity: 1;
}

#related-project .owl-nav .owl-prev {
	left: 0px;
}
#related-project .owl-nav .owl-next {
	right: 0
}

#project-section .owl-prev, #project-section  .owl-next {
	position: absolute;
	height: 40px;
	width: 40px;
	border: 1px solid #6aaf08;
	bottom: 50px;
	opacity: 1;
	text-align: center;
	top: auto;
	background: transparent;
	color: #6aaf08;
}

@media (min-width: 768px) and (max-width: 991px) {
	#project-section .owl-prev, #project-section  .owl-next {
		position: static;
		display: inline-block;
		text-align: center;
		border: 1px solid #6aaf08;
		padding-top: 0px;
		margin: 0px 0px 0px 5px;
	}
	#project-section .owl-controls .owl-nav {
		position: absolute;
		right: 9px;
		bottom: 0px;
	}
}

#project-section  .owl-next {
	left: -112px;
}
#project-section .owl-prev {
	left: -160px;
}

@media (min-width: 768px) and (max-width: 991px) {
	#project-section .owl-nav i {
		line-height: 37px;
		position: static;
	}
}
@media (max-width: 767px) {
	#project-section .owl-prev, #project-section  .owl-next {
		position: static;
		display: inline-block;
		text-align: center;
		border: 1px solid #6aaf08;
		padding-top: 0px;
		margin: 0px 0px 0px 5px;
	}
	#project-section .owl-controls .owl-nav {
		position: absolute;
		right: 9px;
		bottom: 0px;
	}
	#project-section .owl-nav i {
		line-height: 37px;
		position: static;
	}
}
/*Blog*/
.new-blog .blog-post {
	padding: 20px;
	background: #fff;
}
/*Choose_Sec*/
.secondary_bg {
	background: #f2f2f2;
}
.overflow_hidden {
	overflow: hidden;
	position: relative;
}
.light-color h2 {
	word-wrap: break-word;
	font-weight: 800;
}
#choose_us .creative_heading p {
	color: #323232;
}
#choose_us .fontsize_28 {
	font-size: 28px;
}
.icon_choose {
	float: left;
	width: 60px;
	line-height: 64px;
	text-align: center;
	padding-right: 10px;
}
.icon_choose i {
	color: #f2184f;
}
#choose_us .media-body {

}
#choose_us .choose_box {
	background: #ffffff;
	padding: 17px 17px 4px;
}
#choose_us {
	color: #333;
}
#choose_us .choose_box .media-body h4, #choose_us .choose_box .media-body h4 a {
	margin: 0px;
	color: #333;
}
#choose_us .choose_box .media-body h4 {
	font-size: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
	#choose_us .image_cover {
		display: none;
	}
}

.choose-us h4 {
	font-size: 20px;
	margin-bottom: 0;
}
.choose-us .media {
	overflow: visible;
}

.image_cover_right {
	width: 34%;
}

@media (max-width: 767px) {
	.image_cover {
		position: static;
		width: 100%;
		height: 300px;
		margin-top: 0px;
	}
}
@media (min-width: 991px) and (max-width: 1199px) {
	.width-25per {
		width: 35%;
	}
	.tab-respons {
		width: 65%;
	}
}
