﻿h2 {
	color: #6cbe03;
}
h2 span {
	color: #222222;
}

/*-------------------------------------------------------------------------------------------*/
/*  Main Banner        ||---------------------------- */
/*-------------------------------------------------------------------------------------------*/
.b-line {
	position: relative;
	width: 60px;
	height: 3px;
	background: #6cbe03;
	display: block;
	margin: 0 auto;
}
/*about*/
.l-left {
	margin: 0;
}

.bott-center {
	margin: 0 auto;
}
.main-banner {
	height: auto;
}
.main-banner .banner-text {
	background: rgba(255, 255, 255, 0.58);
	padding: 30px;
}
.main-banner .banner-text .sub-text {
	font-weight: 600;
	color: #ffffff;
	font-size: 16px;
	display: block;
	margin-bottom: 5px;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	line-height: 1;
}
.main-banner .banner-text h2 {
	font-size: 52px;
	color: #292e31;
	font-weight: 800;
	margin-bottom: 10px;
	line-height: 1.3;
	text-transform: capitalize;
	padding: 10px 0;
}
.main-banner .banner-text h2 span {
	color: #ff0033;
}
.main-banner .banner-text p {
	font-family: 'Lato', serif;
	color: #292e31;
	font-size: 15px;
	margin-bottom: 20px;
	line-height: 1.8;
}

.main-banner .more-btn {
	background: #ff0033;
	line-height: 30px;
	padding-left: 38px;
	padding-right: 38px;
	font-weight: 700;
	color: #fff;
}
.main-banner li .btn-text {
	line-height: 50px;
	padding-left: 38px;
	padding-right: 38px;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 100px;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
#wrapper .main-banner .tp-bullets {
	top: auto;
	left: 52%;
	display: block;
	visibility: visible;
	opacity: 1;
	bottom: 66px;
}
.main-banner .tp-bullet {
	width: 26px;
	height: 3px;
	background: #8f8f8f;
}
.main-banner .tp-bullet.selected {
	background: #6cbe03;
}
.tparrows.tp-leftarrow, .tparrows.tp-rightarrow {
	border: 1px solid #999999;
	z-index: 99;
	cursor: pointer;
	background: #999999;
	visibility: hidden;
	border-radius: 50%;
}
.main-banner:hover .tparrows.tp-leftarrow, .main-banner:hover .tparrows.tp-rightarrow {
	visibility: visible;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover {
	background: #6cbe03;
	border: 1px solid #6cbe03;
}
.slotholder:before {
	border-top: none;
	border-bottom: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.36);
	content: '';
}
@media (max-width: 480px) {
	.main-banner .banner-text h2 {
		font-size: 18px;
	}
	.main-banner .banner-text p {
		line-height: 1.2;
		font-size: 15px;
	}
}

.main-banner li .btn-text {
	line-height: 44px !important;
}
@media (max-width: 767px) {
	.main-banner li .btn-text {
		margin-bottom: 10px;
	}
}
.btn-text {
	min-width: 150px;
	margin: 0 5px;
	font-size: 14px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	line-height: 41px;
	border: 2px solid #6aaf08;
	padding: 0 22px;
	border-radius: 0px;
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 1px;
	background: #6aaf08;
	height: 44px;
	text-align: center;
	-webkit-transition: all 0.2s linear 0s;
	-moz-transition: all 0.2s linear 0s;
	-ms-transition: all 0.2s linear 0s;
	-o-transition: all 0.2s linear 0s;
	transition: all 0.2s linear 0s;
}
.green-bg {
	border: 2px solid #6cbe03;
	background: #6cbe03;
}

.btn-text:hover {
	background: none;
	color: #6cbe03;
	text-decoration: none;
}
.green-bg:hover {
	color: #6cbe03;
}

.creative_heading p {
	margin: 0px;
}

/*search__form*/
.search__form {
	background: #fff;
	margin-top: -84px;
	position: relative;
	padding: 25px 30px 40px;
	box-shadow: 0 0 13px 7px rgba(0, 0, 0, 0.09);
}
@media (max-width:767px){
	.search__form{
	margin-top: 55px;
	}
	.cs-select{
		margin-bottom: 15px;
	}
	.div.cs-skin-slide{
		width: 100%;
	}
}
.search__form .btn-text {
	height: 58px;
	line-height: 58px;
	width: 100%;
	margin: 0;
}
/*#providing*/
#providing {
	background-image: url(../images/bg_1.jpg);
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	width: 100%;
	position: relative;
}
#providing:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(8, 6, 49, 0.92);
	content: '';
}

.qualitiy {
	position: relative;
	z-index: 9;
	color: #fff;
}
.qualitiy h2 {
	color: #fff;
	line-height: 1.4;
	font-weight: 700;
	letter-spacing: 2px;
}
.qualitiy .text-content {
	padding-top: 50px;
	padding-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 991px) {
	.resp-none {
		display: none;
	}
	.qualitiy {
		padding-bottom: 50px;
	}
}
@media (max-width: 767px) {
	.resp-none {
		display: none;
	}
	.qualitiy {
		padding-bottom: 50px;
	}
}
a.btn-2 {
	background: #fff;
	color: #000 !important;
	border-color: #fff;
	margin-right: 10px;
}
a.btn-2:hover {
	color: #fff !important;
}
/*registration Section*/
.registration_section h3 {
	font-size: 40px;
}
.registration_section .input-sm{
	height: 40px;
}
.registration_section h3 span {
	color: #333;
}
.registration_section .appointment {
	margin-right: 0;
	position: static;
	background: #f2f2f2;
	padding: 30px;
}

.appointment .form-field-wrapper {
	margin-bottom: 20px;
}
.appointment .form-field-wrapper label {
	margin-bottom: 6px;
	color: #464646;
}
.appointment .form-field-wrapper textarea {
	height: 80px;
}
@media (max-width: 991px) {
	.registration_section .image_cover_right {
		display: none;
	}
	.registrantion_counter ul.countdown li {
		float: none;
		display: inline-block;
		width: 123px;
		margin: 10px !important;
	}
	.registration_section .appointment {
		width: 100%;
	}
}

.heading-box h2 {
	margin: 0px;
}

/*Home FAQ*/
.faq-home .panel-group .panel{
	border:1px solid #d2cece;
}
.faq-home .panel-default > .panel-heading a{
	color: #464646;
}
.faq-home .panel-group .panel-heading + .panel-collapse > .panel-body{
	    background: #f2f2f2;
}

/*=======Counter Section Block======*/
.counter-section__img {
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	    background-color: rgba(8, 6, 49, 0.92);
	padding: 150px 0;
	background-attachment: fixed;
}
.counter-section__img:before {
	content: "";
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: absolute;
	opacity: 0.2;
	background: url(../images/parallax.png) !important;
	animation: bg_animation 40s linear infinite;
}
@keyframes bg_animation{
0% {
background-position: 0px 0px;
}

100% {
background-position: 100% 100%;
}
}
.counter-section__box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.counter-section__box .counter {
	color: #fff;
	font-size: 72px;
	-webkit-box-flex: 1;
	-moz-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	line-height: 1.2;
	font-weight: 600;
	padding-right: 16px;
	position: relative;
}
.counter-section__box .counter:after {
	content: '';
	width: 2px;
	height: 64px;
	background:#93939c !important;
	position: absolute;
	top: 17px;
	right: 0;
}
.counter-section__box p {
	color: #fff;
	font-size: 18px;
	padding-top: 25px;
	padding-left: 15px;
	-webkit-box-flex: 2;
	-moz-flex: 2;
	-webkit-flex: 2;
	flex: 2;
	text-transform: uppercase;
	text-align: left;
}

.container-filter li a:before, .container-filter li a:after{
	display: none;
}

/*event section*/
.small-box-event .plan-content-box {
	width: 100%;
}
.small-box-event .event__date {
	font-size: 15px;
	color: #fff;
	padding: 0;
}
.small-box-event .event__month {
	font-size: 14px;
	color: #fff;
}
.small-box-event .plan-content-box h3 {
	font-size: 14px;
}
.small-box-event .table__block {
	height: auto;
	margin-top: 0;
}
.small-box-event .plan-content-box {
	padding: 0;
	margin-bottom: 15px;
}
.event-section .small-box-event .event__date-time {
	padding: 10px;
	background: #f03;
}
.small-box-event .more_btn__block {
	margin-top: 0;
}
.small-box-event .plan-content-box h3::after {
	bottom: -8px;
}
.small-box-event .plan-content-box h3 {
	margin-bottom: 14px;
}
.event-section .plan-content-box.plan-content-box__wight__bg,
.event-section .single_plan__block,
.event-section  .event__date-time{
	background: none;
}
.event-section .event__date-time{
	padding: 18px;
	
}
.event-section .event__date{
	font-size: 50px;
}
@media (max-width: 991px) {
	.img__block img {
		width: 100%;
		margin-top: 20px;
	}
.event-section .block_bg5:after{
		display: none;
	}
}
@media (max-width: 1199px) {
.mb-md-30{
	margin-bottom: 30px;
}
}
/*testimonial section style*/
.testimonial_wrapper__block {
	color: #fff;
	background:url(../images/parallax2.jpg) 0 0 no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.creative_heading.light-color h2{
	color: #fff !important;
}
.testimonial_wrapper__block::before {
	background: #f5f5f5 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.76;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
.single_carousel {
	margin: 0px 15px;
}
.single_carousel > p {
	background: #2fadb9 none repeat scroll 0 0;
	padding: 25px 35px;
	position: relative;
}

.single_carousel > p::after {
	background: #00717b none repeat scroll 0 0;
	border-radius: 50%;
	bottom: -23px;
	color: #ffffff;
	content: "\f10d";
	font-family: fontawesome;
	font-size: 18px;
	height: 50px;
	left: 20px;
	line-height: 49px;
	position: absolute;
	text-align: center;
	width: 50px;
}

.author_img__block {
	display: table;
	height: 130px;
	color: #222;
}
.author_tablecell__block {
	display: table-cell;
	vertical-align: middle;
}
.author_tablecell__block > img {
	border: 5px solid #ffffff;
	border-radius: 50%;
	float: left;
	margin-left: 10px;
	max-width: 80px;
}
.author_tablecell__block > p {
	display: inline-block;
	font-weight: 700;
	margin-left: 15px;
	margin-top: 15px;
}
.author_tablecell__block span {
	display: block;
	font-weight: normal;
}

.testimonial_carosule-wrap .owl-nav div {
	border: 1px solid #2fadb9;
	color: #2fadb9;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	margin-left: 10px;
	text-align: center;
	transition: all 0.4s ease 0s;
	width: 40px;
	line-height: 40px;
	position: static;
	background: transparent;
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
.testimonial_carosule-wrap .owl-nav {
	margin-top: 15px;
	text-align: center;
}
.testimonial_carosule-wrap .owl-nav div:hover {
	background: #2fadb9;
	color: #fff;
}
.member_say {
	font-size: 14px;
}
/*blog_sec*/
#blog-section {
    position: relative;
    overflow: hidden;
}
.post_wrap {
    padding: 25px;
    border: 1px solid #f2f2f2;
    border-bottom: 2px solid #f2184f;
}

