
/* 
    Created on : 29 Jan, 2015, 7:06:48 AM
    Author     : Design_mylife
    Purpose    : Revolution slider css
    Version    : V2.0
*/

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700);

.fullwidthbanner{
    width:100%;
    position: relative;
}
.rev-text-center{
    text-align: center;
    font-size: 24px;
    color:#fff !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 300;
   line-height: 30px;
}
.rev-title-v1{
  font-family: 'Lato', sans-serif !important;
   font-weight: 700 ;
   text-transform: uppercase;
}
.rev-buttons a{
    color:#288fec;
    margin: 5px;
}
.rev-buttons .btn-Blue{
	color:#fff;
}
.rev-buttons .btn-theme-bg:hover{
    color:#fff;
}
.rev-buttons .border-white:hover{
    color:#333;
}
.tp-caption.modern_big_redbg{
    
      font-weight: 300;
}
.paragraph-s{
    font-size: 16px;
    color:#fff;
     font-weight: 400;
}
.font-s{
    font-weight: 700;
    font-size:50px;
    color:#fff;
        font-family: 'Raleway', sans-serif;


}
.font-s span{
	 font-weight: 700;
}

.lowercase-caption{
    font-weight: 300;
    font-size: 20px;
    color:#fff;
    line-height: 26px;
   
}
/************box slider*******/
.tp-banner-container{
    position: relative;
    max-width:1170px;
    margin: 20px auto;
}

/************ken burns***************/

.Ken-burns-heading{
    font-size: 60px;
    color:#fff;
    font-weight:700;
    text-transform: uppercase;
      font-family: 'Lato', sans-serif!important; 
}
.ken-burns-cap{
    color:#fff;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Lato', sans-serif ;
}


/***index page slider****/
.caption.title-2 {
color: #fff;
font-size: 48px;
line-height: 56px;
font-weight: 900;
text-transform: uppercase;
 font-family: 'Lato', sans-serif;
}
.caption.text{
    font-size: 16px;
    font-weight: 300;
    color:#fff;
     font-family: 'Lato', sans-serif;
}
.caption.title {
color: #fff;
font-size: 72px;
line-height: 85px;
font-weight: 700;
text-transform: uppercase;
font-family: 'Lato', sans-serif;
}
.caption.subtitle {
padding-left: 25px;
border-left: 3px solid #bbb;
color: #fff;
font-size: 24px;
line-height: 33px;
text-transform: uppercase;
font-family: 'Lato', sans-serif;
}
.revo-slider-emphasis-text {
font-size: 64px;
font-weight: 700;
letter-spacing: -1px;
  font-family: 'Lato', sans-serif;

}

.revo-slider-caps-text {
font-size: 16px;
font-weight: 400;
letter-spacing: 3px;
font-family: 'Lato', sans-serif;
}

/***shop slide****/
.shop-slide-heading{
    color:#fff;
    font-size: 45px;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
}
.shop-slide-text{
    color:#fff;
}
.shop-discount{
    color:#fff;
    width:80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    background-color: #3498db;
    font-size: 20px;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    font-family: 'Lato', sans-serif;
}
.modern_big_bluebg{
 font-family: 'Lato', sans-serif !important;  
 text-transform: uppercase;
}


.text-center-top{
       color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}
.text-center-btm{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
    line-height:34px !important;
    font-family: 'Lato', sans-serif;

}
.left-tile-text{
      color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}


/****vertical slider****/
.vertical-title{
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
}
.vertical-caption{
    color:#fff;
    font-size: 20px;
    font-weight: 300;
     font-family: 'Lato', sans-serif;
}
.rev-buttons a.btn{
	color:#fff;
}
.rev-buttons a.btn-black{
	color:#fff;
}
.caption-darkblue{
	color:#168be8;
}
.offer-price-set{
	font-size: 30px;
	color:rgba(255, 255, 255, 0.42);
}

.offer-price-set strong{
	padding-left: 10px;
	padding-right: 5px;
	padding-top: 4px;
	font-size: 40px;
	display: inline-block;
	color:#fff;
}
.tparrows.default{
	background:#f2184f;
	border-radius:50%;
	color:#fff;
	text-align: center;
	font-family: "Ionicons";
	font-size: 27px;
    line-height: 40px;
}
.tp-rightarrow.default:before {
    content: "\f3d3";
}
.tp-leftarrow.default:before {
    content: "\f3d2";
}
